<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/faviconicon.ico" />
    <link href="..\css\site.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="..\css\typography.css" rel="stylesheet" />
    <link href="..\css\responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header id="main-header">
        <div class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse"
                               data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                               aria-expanded="false" aria-label="Toggle navigation">
                                <div class="navbar-toggler-icon" data-toggle="collapse">
                                    <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                                    <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                                    <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                                </div>
                            </a>
                            <a asp-controller="Home" asp-action="Index" class="h3 logo-5">LA MOVIES</a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="menu-main-menu-container">
                                    <ul id="top-menu" class="navbar-nav ml-auto">
                                        <li class="menu-item">
                                            <a asp-controller="Home" asp-action="Index">Home</a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-controller="Movies" asp-action="ListMovies">movies</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="#">series movies</a></li>
                                                <li class="menu-item "><a href="#">odd movie</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-controller="Movies" asp-action="ListMovies">movies genreS</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="#" onclick="window.location.href='/Genre/ListMovieByGenres?id=1'">
                                                        Action
                                                    </a>
                                                </li>
                                                <li class="menu-item" onclick="window.location.href='/Genre/ListMovieByGenres?id=2'">
                                                    <a href="#">
                                                        Humorous
                                                    </a>
                                                </li>
                                                <li class="menu-item " onclick="window.location.href='/Genre/ListMovieByGenres?id=3'">
                                                    <a href="#">
                                                        Horrified
                                                    </a>
                                                </li>
                                                <li class="menu-item " onclick="window.location.href='/Genre/ListMovieByGenres?id=4'">
                                                    <a href="#">
                                                        War
                                                    </a>
                                                </li>
                                                <li class="menu-item " onclick="window.location.href='/Genre/ListMovieByGenres?id=5'">
                                                    <a href="#">
                                                        Mentality
                                                    </a>
                                                </li>
                                                <li class="menu-item " onclick="window.location.href='/Genre/ListMovieByGenres?id=6'">
                                                    <a href="#">
                                                        Cartoon
                                                    </a>
                                                </li>
                                                <li class="menu-item " onclick="window.location.href='/Genre/ListMovieByGenres?id=7'">
                                                    <a href="#">
                                                        Fiction
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="show-category.html">COUNTRY</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="#">
                                                        VietNam
                                                    </a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="#">
                                                        America
                                                    </a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="#">
                                                        Korea
                                                    </a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="#">
                                                        China
                                                    </a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="#">
                                                        Japan
                                                    </a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="#">
                                                        India
                                                    </a>
                                                </li>
                                                <li class="menu-item ">
                                                    <a href="#">
                                                        England
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-controller="Pricing" asp-action="Pricing">Pricing</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            @*
                            <div class="mobile-more-menu">
                            <a href="javascript:void(0);" class="more-toggle" id="dropdownMenuButton"
                            data-toggle="more-toggle" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            </a>
                            <div class="more-menu" aria-labelledby="dropdownMenuButton">
                            <div class="navbar-right position-relative">
                            <ul class="d-flex align-items-center justify-content-end list-inline m-0">
                            <li>
                            <a href="#" class="search-toggle">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            <div class="search-box iq-search-bar">
                            <form action="#" class="searchbox">
                            <div class="form-group position-relative">
                            <input type="text" class="text search-input font-size-12"
                            placeholder="Search movie...">
                            </div>
                            </form>
                            </div>
                            </li>

                            <a href="#" class="iq-user-dropdown search-toggle d-flex align-items-center">
                            <img src="~/image/Avatar/avatar-default.png" class="img-fluid avatar-40 rounded-circle"
                            alt="user">
                            </a>
                            <div class="iq-sub-dropdown iq-user-dropdown">
                            <div class="iq-card shadow-none m-0">
                            <div class="iq-card-body p-0 pl-3 pr-3">
                            <a href="manage-profile.html" class="iq-sub-card setting-dropdown">
                            <div class="media align-items-center">
                            <div class="right-icon">
                            <i class="ri-file-user-line text-primary"></i>
                            </div>
                            <div class="media-body ml-3">
                            <h6 class="mb-0 ">Manage Profile</h6>
                            </div>
                            </div>
                            </a>
                            <a href="setting.html" class="iq-sub-card setting-dropdown">
                            <div class="media align-items-center">
                            <div class="right-icon">
                            <i class="ri-settings-4-line text-primary"></i>
                            </div>
                            <div class="media-body ml-3">
                            <h6 class="mb-0 ">Settings</h6>
                            </div>
                            </div>
                            </a>
                            <a href="pricing-plan.html" class="iq-sub-card setting-dropdown">
                            <div class="media align-items-center">
                            <div class="right-icon">
                            <i class="ri-settings-4-line text-primary"></i>
                            </div>
                            <div class="media-body ml-3">
                            <h6 class="mb-0 ">Pricing Plan</h6>
                            </div>
                            </div>
                            </a>
                            <a href="login.html" class="iq-sub-card setting-dropdown">
                            <div class="media align-items-center">
                            <div class="right-icon">
                            <i class="ri-logout-circle-line text-primary"></i>
                            </div>
                            <div class="media-body ml-3">
                            <h6 class="mb-0">Logout</h6>
                            </div>
                            </div>
                            </a>
                            </div>
                            </div>
                            </div>



                            </li>
                            </ul>
                            </div>
                            </div>
                            </div>

                            *@
                            <div class="navbar-right menu-right">
                                <ul class="d-flex align-items-center list-inline m-0">
                                    <li class="nav-item nav-icon">
                                        <a href="#" class="search-toggle device-search">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </a>
                                        <div class="search-box iq-search-bar d-search">
                                            <form action="#" class="searchbox">
                                                <div class="form-group position-relative">
                                                    <input type="text" class="text search-input font-size-12"
                                                           placeholder="Search movie...">
                                                </div>
                                            </form>
                                        </div>
                                    </li>

                                    @Html.Partial("_LoginPartial")
                                       
                                </ul>
                            </div>
                        </nav>
                        <div class="nav-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer id="contact" class="footer-one iq-bg-dark">

        <!-- Address -->
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row footer-standard">
                    <div class="col-lg-5">
                        <div class="widget text-left">
                            <div class="menu-footer-link-1-container">
                                <ul id="menu-footer-link-1" class="menu p-0">
                                    <li id="menu-item-7314"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7314">
                                        <a asp-controller="Movies" asp-action="ListMovies">List Movies</a>
                                    </li>
                                    <li id="menu-item-7316"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7316">
                                        <a asp-controller="Pricing" asp-action="Pricing">Pricing</a>
                                    </li>
                                    <li id="menu-item-7118"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7118">
                                        <a>Privacy-Policy</a>
                                    </li>
                                    <li id="menu-item-7118"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7118">
                                        <a>Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                        <h6 class="footer-link-title text-center">
                            Follow Us
                        </h6>
                        <ul class="info-share d-flex justify-content-center">
                            <li><a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa-brands fa-google"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="widget text-left">
                            <div class="textwidget">
                                <h6 class="footer-link-title text-center">Download App</h6>
                                <div class="d-flex justify-content-center">
                                    <a class="app-image" href="#">
                                        <img src="~/image/Footer/01.jpg" alt="play-store">
                                    </a><br>
                                    <a class="ml-3 app-image" href="#">
                                        <img src="~/image/Footer/02.jpg"
                                             alt="app-store">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pb-3">
            © 2023 Copyright:
            <a class="text-white" href="#" style="text-decoration:none;">LA Movies</a>
        </div>
        <!-- Address END -->
    </footer>
    <div id="back-to-top">
        <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
    </div>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/slick-animation.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>

