@using LAMovies_NET6.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item nav-icon">
        <a href="#" class="iq-user-dropdown search-toggle p-0 d-flex align-items-center"
           data-toggle="search-toggle">
            <img src="~/image/user/user.jpg" class="img-fluid avatar-40 rounded-circle" alt="user">
        </a>
        <div class="iq-sub-dropdown iq-user-dropdown">
            <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 pl-3 pr-3">
                    <a class="text-center iq-sub-card setting-dropdown">
                        <div class=" media align-items-center">
                           <h5>Welcome @User.Identity.Name !</h5>
                        </div>
                    </a>
                    <a href="manage-profile.html" class="iq-sub-card setting-dropdown">
                        <div class="media align-items-center">
                            <div class="right-icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="media-body ml-3">
                                <h6 class="my-0 ">Manage Profile</h6>
                            </div>
                        </div>
                    </a>
                    <a href="pricing-plan.html" class="iq-sub-card setting-dropdown">
                        <div class="media align-items-center">
                            <div class="right-icon">
                                <i class="fa-solid fa-film"></i>
                            </div>
                            <div class="media-body ml-3">
                                <h6 class="my-0 ">Movie Service</h6>
                            </div>
                        </div>
                    </a>
                    <a href="setting.html" class="iq-sub-card setting-dropdown">
                        <div class="media align-items-center">
                            <div class="right-icon">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <div class="media-body ml-3">
                                <h6 class="my-0 ">Settings</h6>
                            </div>
                        </div>
                    </a>

                    <a href="User/Logout" class="iq-sub-card setting-dropdown">
                        <div class="media align-items-center">
                            <div class="right-icon">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </div>
                            <div class="media-body ml-3">
                                <h6 class="my-0 ">Logout</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </li>
}
else
{
    <li class="menu-item "><a asp-controller="User" asp-action="Login">Login</a></li>

}
